fieldset {
    width: 400px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    text-align: left;  
}

legend { 
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
}

div {
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    width: 400px;
}
.title {
    float: left;
    width: 88px;
    text-align: start;
    padding-right: 70px;
}

div>div {
    border-bottom: 0px;
    margin: 0px;
    padding-bottom: 0px;
    width: 320.9px;
    text-align: right;
}